<!-- <section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" [formGroup]="loginForm" (ngSubmit)="loginUser(  )">
                    <div class="text-center">
                        <img src="assets/images/logo.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Hey there, please sign in
                                    </h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" formControlName="username">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <span class="form-bar"></span>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-md-12">
                                    <button type="submit" [disabled]="loginForm.invalid"
                                        class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
                                        in</button>
                                </div>
                            </div>
                            <div class="col-12 text-center text-danger">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->

<div class="login_container">
    <div class="login_top">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-6">
                    <div class="login_logo m-r-5">
                        <img src="/assets/custom/images/blog-xl-img1.jpg" width="450px">
                    </div>
                </div> -->
                <!-- <div class="col-lg-6">
                    <div class="login_white">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">

                <div class="form loginForm_box">
                    <div class="login_text">
                        <h2>Hey there, please sign in</h2>
                        <p>Login with the data you entered during your registeration.</p>
                    </div>
                    <form class="md-float-material form-material" [formGroup]="loginForm" (ngSubmit)="loginUser(  )">
                        <div class="form-group">
                            <label class="floating-label">Username*</label>
                            <input type="email" formControlName="username" id="email" class="form-control"
                                placeholder="Email Address *" />

                            <div class="form-group" style="margin-top: 30px;">
                                <label class="floating-label">Password</label>
                                <input type="password" formControlName="password" id="password" class="form-control"
                                    placeholder="Password *" />
                                <div style="margin-left: 350px;" class="passwordShow  ">
                                    <span class="input-group-text">
                                        <i id="password-toggle" class="fa fa-eye" (click)="onClick()"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group loginbtn" style="margin-bottom:0px !important;">
                                <button type="submit" id="loginbtn" class="btn btn-block btn-info btnspiner"
                                    [disabled]="loginForm.invalid">Login <i class="pi pi-spin pi-spinner"></i></button>
                            </div>
                        </div>
                    </form>
                    <footer class="col-sm-12 text-center noPadding">
                        <hr>
                        <div class="col-xs-12 text-danger">
                            <!-- <h6> {{errorMsg}} </h6> -->
                        </div>
                        <p>
                            <strong>Powered by</strong>
                            <a href="#">
                                <img src="/assets/images/logo copy.png" style="width: 100px;">
                            </a>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div style="width: 650px; height: 450px;" class="loginForm_banner">
                    <img src="assets/images/coding2.gif">
                </div>
            </div>
        </div>
    </div>
</div>