<div class="pcoded-inner-content">
    <div class="main-body mt-5">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-yellow update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.totalCategoryCount}}</h4>
                                        <h6 class="text-white m-b-0">Total Categories</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-green update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.activeCategoryCount}}</h4>
                                        <h6 class="text-white m-b-0">Active Categories</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-industry"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-pink update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.inactiveCategoryCount}}</h4>
                                        <h6 class="text-white m-b-0">Inactive Categories</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-file"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-lite-green update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.totalCounsellorCount}}</h4>
                                        <h6 class="text-white m-b-0">Total Counsellors</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-red1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.activeCounsellorCount}}</h4>
                                        <h6 class="text-white m-b-0">Active Counsellors</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-external-link"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-blue1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.inactiveCounsellorCount}}</h4>
                                        <h6 class="text-white m-b-0">Inactive Counsellors</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-lite-green update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.totalLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">Total Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-red1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.newLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">New Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-external-link"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-blue1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.followUpLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">Followup Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-yellow1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.callBackLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">Call Back Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-purpal1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.enrolledLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">Enrolled Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-bookmark-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card bg-c-gray1 update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                    <div class="col-8">
                                        <h4 class="text-white">{{response?.closedNotInterestedLeadCount}}</h4>
                                        <h6 class="text-white m-b-0">Not Interested Leads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i
                                        class="feather icon-clock text-white f-14 m-r-10"></i>update: 2:15 am</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>