<nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2"
   active-item-style="style0" pcoded-navbar-position="fixed">
   <div class="pcoded-inner-navbar main-menu mCustomScrollbar _mCS_1" id="" style="height: calc(100% - 80px);">
      <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical_horizontal mCSB_inside" style="max-height: none;"
         tabindex="0">
         <div id="mCSB_1_container_wrapper" class="mCSB_container_wrapper mCS_x_hidden mCS_no_scrollbar_x">
            <div id="mCSB_1_container" class="mCSB_container"
               style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
               <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">

               </div>
               <ul class="pcoded-item pcoded-left-item">
                  <li class="active">
                     <a routerLink="/dashboard">
                        <span class="pcoded-micon"><i class="fa fa-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                     </a>
                  </li>
                  <li class="pcoded-hasmenu" [class.pcoded-trigger]="activemenu==1" dropdown-icon="style1"
                     subitem-icon="style1">
                     <a href="javascript:void(0)" (click)="setActive(1)">
                        <span class="pcoded-micon"><i class="fa fa-th-large"></i></span>
                        <span class="pcoded-mtext">Counsellor</span>
                     </a>
                     <ul class="pcoded-submenu">
                        <li>
                           <a routerLink="/student-list">
                              <span class="pcoded-mtext">Student-List</span>
                           </a>
                        </li>
                        <li>
                           <a routerLink="/teacher-list">
                              <span class="pcoded-mtext">Teacher-List</span>
                           </a>
                        </li>
                     </ul> 
                  </li>
               </ul>
            </div>
         </div>
         <div id="mCSB_1_scrollbar_vertical"
            class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
            <div class="mCSB_draggerContainer">
               <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                  style="position: absolute; min-height: 30px; height: 11px; top: 0px; display: block; max-height: 59px;">
                  <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
               </div>
               <div class="mCSB_draggerRail"></div>
            </div>
         </div>
         <div id="mCSB_1_scrollbar_horizontal"
            class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_horizontal" style="display: none;">
            <div class="mCSB_draggerContainer">
               <div id="mCSB_1_dragger_horizontal" class="mCSB_dragger"
                  style="position: absolute; min-width: 30px; width: 0px; left: 0px;">
                  <div class="mCSB_dragger_bar"></div>
               </div>
               <div class="mCSB_draggerRail"></div>
            </div>
         </div>
      </div>
   </div>
</nav>
